.mc-embedded-subscribe-form {
  margin: 0;
  max-width: 900px;
  margin: 0 auto;
}

.mc-field-group {
  display: -ms-inline-grid;
  display: grid;
  width: 100%;
  position: relative;
}

.input-group {
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
}

input {
  font-size: 14px;
  border: 0;
  margin: 0 auto 20px;
  background-color: #f2f2f2;
  padding: 10px 10px 7px;
  width: 100%;
}

input.mc-input:focus {
  outline: #ffffe0 solid 5px;
}

input.mc-input--error {
  outline: solid 2px #f97282;
}

.mc-input--error-msg {
  font-size: small;
  font-weight: 700;
  color: #f97282;
}

.mc-label {
  font-size: small;
  color: #fff;
  font-weight: 900;
}

.mc-label.required > span {
  color: #f97282;
  font-weight: 900;
}

.response.error {
  color: #f97282;
}

.response.success {
  color: #8bcc8b;
}

.msg {
  background-color: #ffffe0;
  font-size: small;
  padding: 20px;
}

.msg a {
  color: #000000;
}

input#mc-embedded-subscribe  {
  font-size: 14px;
  font-weight: bold;
  color: #fff ;
  background-color: #1f1f1f;
  padding: 10px 20px 7px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  border: 0;
  outline: 0;
}

input#mc-embedded-subscribe:hover  {
  background-color: #000000;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, .33); 
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, .33);
}